In [202]:
from datetime import datetime
import pandas as pd
import yaml
from sqlalchemy import create_engine

## Database Connection

In [203]:
with open('config.yml', 'r') as f: #Abrir el archivo en modo de  lectura
    config = yaml.safe_load(f) # Crear un diccionario con lo que hay en el archivo
    config_db_etl = config['bodega'] #Obtener solo la configuración de la bodega
    config_db = config["fuente"] #Obtener solo la configuración de la bodega

In [204]:
# Construct the database URL
url_db_etl = (f"{config_db_etl['driver']}://{config_db_etl['user']}:{config_db_etl['password']}@{config_db_etl['host']}:"
           f"{config_db_etl['port']}/{config_db_etl['db']}")
url_db = (f"{config_db['driver']}://{config_db['user']}:{config_db['password']}@{config_db['host']}:"
           f"{config_db['port']}/{config_db['db']}")

In [205]:
# Create the SQLAlchemy Engine
etl_conn = create_engine(url_db_etl)
olap_conn = create_engine(url_db)

## Load table cliente

In [206]:
tipo_cliente = pd.read_sql_table("tipo_cliente",url_db)
cliente = pd.read_sql_table("cliente",url_db)
ciudad = pd.read_sql_table("ciudad",url_db)
departamento = pd.read_sql_table("departamento",url_db)
auth_user = pd.read_sql_table("auth_user",url_db)

In [207]:
cliente.fillna("no_definido", inplace=True)
cliente

C:\Users\nicol\AppData\Local\Temp\ipykernel_3432\1934497157.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'no_definido' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  cliente.fillna("no_definido", inplace=True)

,cliente_id,nit_cliente,nombre,email,direccion,telefono,nombre_contacto,ciudad_id,tipo_cliente_id,activo,coordinador_id,sector
0,1,25,Cliente 2,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S
1,2,123,Cliente 1,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,2.0,industrial
2,6,24390-3,CLINICA DEPORTIVA DEL SUR,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,1.0,salud
3,19,8301821,HOSPITAL ORTOPEDICO DE COLOMBIA,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
4,8,5017350-8,CLINICA NEFROLOGOS DE CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
5,3,312289-5,BANCO REGIONAL DE SANGRE BLOD-LIFE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
6,4,306215-0,CRUZ AZUL-LIFE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
7,5,300513-3,CLINICA CALI -JOVEN,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
8,7,951033-8,CLINICA COFFE -HEALTH,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
9,9,149757-6,UNIDAD DE TRAUMA DEL OESTE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
10,10,550254-8,CLINICA VIDA Y SALUD,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
11,11,327282-4,CARROS DEL PACIFICO (CHINA),algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,3.0,industrial
12,12,242742-,CLINICA DEL SUR DE CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
13,13,616935,DISTRIBUCIONES MEDICOS RAPIDOS,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
14,14,908245,UNIDAD MEDICA SANTA MARIA,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S
15,15,800000,CENTRO RECUPERARSE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
16,16,0056330,CARROS RAPIDOS DE CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,industrial
17,17,78948,CLINICA LOS CONDORES,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
18,18,9051024,UNIDAD MEDICA ESTELAR,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S
19,20,8000569,AUTOS-RAPIDOS,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,8,1,True,no_definido,industrial
20,21,900248,SALUD DE OCCIDENTE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S
21,22,8999020,FUNDACION CLINICA INFANTIL LOS GRITONES,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S
22,23,900603,CLINICA MEDICA S.A.S,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
23,24,9009754,CLINICA SAN RAFAEL DE OCCIDENTE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
24,25,900361,CALI SULUD Y VIDA,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
25,26,25478,OCCIDENTE DE SALUD-CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud
26,27,201478,MEDICOS Y SALUD,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,industrial

In [208]:
# Contar el número de valores nulos por columna
nulos_por_columna = cliente.isnull().sum()
print("Número de valores nulos por columna:\n", nulos_por_columna)

Número de valores nulos por columna:
 cliente_id         0
nit_cliente        0
nombre             0
email              0
direccion          0
telefono           0
nombre_contacto    0
ciudad_id          0
tipo_cliente_id    0
activo             0
coordinador_id     0
sector             0
dtype: int64

In [209]:
tipo_cliente.rename(columns={"nombre": "nombre_tipo_cliente"}, inplace=True)
tipo_cliente

   tipo_cliente_id nombre_tipo_cliente descripcion
0                1    Persona Juridica        None
1                2     Persona Natural        None

In [210]:
cliente = cliente.merge(
    tipo_cliente,
    left_on='tipo_cliente_id',  
    right_on='tipo_cliente_id',                   
    how='left'                       
)
cliente

,cliente_id,nit_cliente,nombre,email,direccion,telefono,nombre_contacto,ciudad_id,tipo_cliente_id,activo,coordinador_id,sector,nombre_tipo_cliente,descripcion
0,1,25,Cliente 2,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S,Persona Juridica,None
1,2,123,Cliente 1,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,2.0,industrial,Persona Juridica,None
2,6,24390-3,CLINICA DEPORTIVA DEL SUR,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,1.0,salud,Persona Juridica,None
3,19,8301821,HOSPITAL ORTOPEDICO DE COLOMBIA,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
4,8,5017350-8,CLINICA NEFROLOGOS DE CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
5,3,312289-5,BANCO REGIONAL DE SANGRE BLOD-LIFE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
6,4,306215-0,CRUZ AZUL-LIFE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
7,5,300513-3,CLINICA CALI -JOVEN,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
8,7,951033-8,CLINICA COFFE -HEALTH,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
9,9,149757-6,UNIDAD DE TRAUMA DEL OESTE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
10,10,550254-8,CLINICA VIDA Y SALUD,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
11,11,327282-4,CARROS DEL PACIFICO (CHINA),algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,3.0,industrial,Persona Juridica,None
12,12,242742-,CLINICA DEL SUR DE CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
13,13,616935,DISTRIBUCIONES MEDICOS RAPIDOS,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
14,14,908245,UNIDAD MEDICA SANTA MARIA,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S,Persona Juridica,None
15,15,800000,CENTRO RECUPERARSE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
16,16,0056330,CARROS RAPIDOS DE CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,industrial,Persona Juridica,None
17,17,78948,CLINICA LOS CONDORES,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
18,18,9051024,UNIDAD MEDICA ESTELAR,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S,Persona Juridica,None
19,20,8000569,AUTOS-RAPIDOS,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,8,1,True,no_definido,industrial,Persona Juridica,None
20,21,900248,SALUD DE OCCIDENTE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S,Persona Juridica,None
21,22,8999020,FUNDACION CLINICA INFANTIL LOS GRITONES,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S,Persona Juridica,None
22,23,900603,CLINICA MEDICA S.A.S,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
23,24,9009754,CLINICA SAN RAFAEL DE OCCIDENTE,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
24,25,900361,CALI SULUD Y VIDA,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
25,26,25478,OCCIDENTE DE SALUD-CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None
26,27,201478,MEDICOS Y SALUD,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,industrial,Persona Juridica,None

In [211]:
ciudad.rename(columns={"nombre": "nombre_ciudad"}, inplace=True)
ciudad

    ciudad_id  nombre_ciudad  departamento_id
0           6           BUGA                1
1           5         BOGOTA                2
2           4          PASTO                4
3           3        POPAYAN                3
4           2        PALMIRA                1
5           1           CALI                1
6           7          TULUA                1
7          10        GUACARI                1
8          11     CANDELARIA                1
9          12        CARTAGO                1
10          9        JAMUNDI                1
11          8          YUMBO                1
12         13    ACOPI YUMBO                1
13         14   CENCAR YUMBO                1
14         15         ZARZAL                1
15         16     VILLA RICA                3
16         17        FLORIDA                1
17         18        PRADERA                1
18         19  CALIMA DARIEN                1

In [212]:
departamento.rename(columns={"nombre": "nombre_departamento"}, inplace=True)
departamento

   departamento_id nombre_departamento
0                4              NARIÑO
1                3               CAUCA
2                2        CUNDINAMARCA
3                1     VALLE DEL CAUCA

In [213]:
departamento.rename(columns={"id": "id_user"}, inplace=True)
auth_user

,id,password,last_login,is_superuser,username,first_name,last_name,email,is_staff,is_active,date_joined
0,318,pbkdf2_sha256$600000$zkyZt2EE1IbKK2BEQIh0qg$cA...,NaT,False,Juan paz,pepito_el_rapido,pepito_el_furioso,rapidos-furiosos@gmail.com,False,True,2023-08-31 15:58:54+00:00
1,322,pbkdf2_sha256$600000$0PRLEKfGpLgULMpmcShBQN$nR...,2024-08-29 14:20:34.103482+00:00,False,Luis Rubio,pepito_el_rapido,pepito_el_furioso,rapidos-furiosos@gmail.com,False,True,2023-09-04 20:48:28+00:00
2,326,pbkdf2_sha256$600000$a4qFxPBCprNQVGCKzoV4zt$vj...,2024-05-23 11:19:34.968180+00:00,False,Alvaro Dominguez,pepito_el_rapido,pepito_el_furioso,rapidos-furiosos@gmail.com,False,True,2023-09-26 22:27:31+00:00
3,327,pbkdf2_sha256$600000$v9Zh6S0AKTvSqRwUnD67gw$8W...,2024-08-08 20:28:39.962222+00:00,False,Luis Castro,pepito_el_rapido,pepito_el_furioso,rapidos-furiosos@gmail.com,False,True,2023-10-05 15:34:53+00:00
4,328,pbkdf2_sha256$600000$kzNKcQLO72lUwSElgSWzvK$u1...,NaT,False,Luis Valenciano,pepito_el_rapido,pepito_el_furioso,rapidos-furiosos@gmail.com,False,False,2023-10-05 15:40:15+00:00
...,...,...,...,...,...,...,...,...,...,...,...
324,498,pbkdf2_sha256$600000$ZbcqmYeQfwU2pDVFxXw9Pl$CP...,2024-08-31 16:25:58.577575+00:00,False,BODEGA28,pepito_el_rapido,pepito_el_furioso,rapidos-furiosos@gmail.com,False,True,2024-08-20 19:27:18+00:00
325,493,pbkdf2_sha256$600000$WUgJnikTBRAOgH2szrcTWP$+r...,2024-08-30 19:09:26.361790+00:00,False,ASESORATULUA,pepito_el_rapido,pepito_el_furioso,rapidos-furiosos@gmail.com,False,True,2024-08-09 20:34:39+00:00
326,500,pbkdf2_sha256$600000$lawICamlWQ8MzRvYhN7gR1$XV...,2024-08-30 19:28:13.894611+00:00,False,TALLER38,pepito_el_rapido,pepito_el_furioso,rapidos-furiosos@gmail.com,False,True,2024-08-23 13:19:51+00:00
327,504,pbkdf2_sha256$600000$nfZLEjRNt0HuphjfYjYA84$d1...,2024-08-26 13:39:03.800667+00:00,False,TALLER348,pepito_el_rapido,pepito_el_furioso,rapidos-furiosos@gmail.com,False,True,2024-08-23 14:03:19+00:00
328,499,pbkdf2_sha256$600000$GYIzai6NZq5Q7B7wUqN3dc$C/...,2024-08-26 13:45:27.910945+00:00,False,NBARRAGAN,pepito_el_rapido,pepito_el_furioso,rapidos-furiosos@gmail.com,False,True,2024-08-22 20:05:16+00:00

In [214]:
cliente = cliente.merge(
    ciudad,
    left_on='ciudad_id',  
    right_on='ciudad_id',                   
    how='left'                       
)
cliente.head()

,cliente_id,nit_cliente,nombre,email,direccion,telefono,nombre_contacto,ciudad_id,tipo_cliente_id,activo,coordinador_id,sector,nombre_tipo_cliente,descripcion,nombre_ciudad,departamento_id
0,1,25,Cliente 2,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S,Persona Juridica,None,CALI,1
1,2,123,Cliente 1,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,2.0,industrial,Persona Juridica,None,CALI,1
2,6,24390-3,CLINICA DEPORTIVA DEL SUR,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,1.0,salud,Persona Juridica,None,CALI,1
3,19,8301821,HOSPITAL ORTOPEDICO DE COLOMBIA,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None,CALI,1
4,8,5017350-8,CLINICA NEFROLOGOS DE CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None,CALI,1

In [215]:
cliente = cliente.merge(
    departamento,
    left_on='departamento_id',  
    right_on='departamento_id',                   
    how='left'                       
)
cliente.head()

,cliente_id,nit_cliente,nombre,email,direccion,telefono,nombre_contacto,ciudad_id,tipo_cliente_id,activo,coordinador_id,sector,nombre_tipo_cliente,descripcion,nombre_ciudad,departamento_id,nombre_departamento
0,1,25,Cliente 2,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,S,Persona Juridica,None,CALI,1,VALLE DEL CAUCA
1,2,123,Cliente 1,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,2.0,industrial,Persona Juridica,None,CALI,1,VALLE DEL CAUCA
2,6,24390-3,CLINICA DEPORTIVA DEL SUR,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,1.0,salud,Persona Juridica,None,CALI,1,VALLE DEL CAUCA
3,19,8301821,HOSPITAL ORTOPEDICO DE COLOMBIA,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None,CALI,1,VALLE DEL CAUCA
4,8,5017350-8,CLINICA NEFROLOGOS DE CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,1,1,True,no_definido,salud,Persona Juridica,None,CALI,1,VALLE DEL CAUCA

In [216]:
cliente.drop(columns=["tipo_cliente_id","ciudad_id","departamento_id","coordinador_id","descripcion"], inplace=True)
cliente["saved"] = datetime.now()
cliente.head()

,cliente_id,nit_cliente,nombre,email,direccion,telefono,nombre_contacto,activo,sector,nombre_tipo_cliente,nombre_ciudad,nombre_departamento,saved
0,1,25,Cliente 2,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,True,S,Persona Juridica,CALI,VALLE DEL CAUCA,2024-10-30 08:14:11.988847
1,2,123,Cliente 1,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,True,industrial,Persona Juridica,CALI,VALLE DEL CAUCA,2024-10-30 08:14:11.988847
2,6,24390-3,CLINICA DEPORTIVA DEL SUR,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,True,salud,Persona Juridica,CALI,VALLE DEL CAUCA,2024-10-30 08:14:11.988847
3,19,8301821,HOSPITAL ORTOPEDICO DE COLOMBIA,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,True,salud,Persona Juridica,CALI,VALLE DEL CAUCA,2024-10-30 08:14:11.988847
4,8,5017350-8,CLINICA NEFROLOGOS DE CALI,algo.com,Calle 100 No 25-18,327-00000,Cristiano Ronaldo,True,salud,Persona Juridica,CALI,VALLE DEL CAUCA,2024-10-30 08:14:11.988847

## Load table into ETL database

In [217]:
cliente.to_sql("dim_cliente", etl_conn, index_label="key_cliente", if_exists="replace") # Contar el número de valores nulos por columna

27