In [790]:
import pandas as pd
import yaml
from sqlalchemy import create_engine

## Database connection

In [791]:
with open('config.yml', 'r') as f: #Abrir el archivo en modo de  lectura
    config = yaml.safe_load(f) # Crear un diccionario con lo que hay en el archivo
    config_db_etl = config['bodega'] #Obtener solo la configuración de la bodega
    config_db = config["fuente"] #Obtener solo la configuración de la bodega

In [792]:
# Construct the database URL
url_db_etl = (f"{config_db_etl['driver']}://{config_db_etl['user']}:{config_db_etl['password']}@{config_db_etl['host']}:"
           f"{config_db_etl['port']}/{config_db_etl['db']}")
url_db = (f"{config_db['driver']}://{config_db['user']}:{config_db['password']}@{config_db['host']}:"
           f"{config_db['port']}/{config_db['db']}")

In [793]:
# Create the SQLAlchemy Engine
etl_conn = create_engine(url_db_etl)
olap_conn = create_engine(url_db)

In [794]:
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas sin saltos
pd.set_option('display.width', 1000)

## Extraction

In [795]:
cliente = pd.read_sql_table('dim_cliente', etl_conn)
mensajero = pd.read_sql_table('dim_mensajero', etl_conn)
hora = pd.read_sql_table('dim_hora', etl_conn)
fecha = pd.read_sql_table('dim_fecha', etl_conn)
servicio = pd.read_sql_table("mensajeria_servicio",url_db)

In [796]:
total_nan = servicio.isna().sum()
print(total_nan)

id                                    0
descripcion                           0
nombre_solicitante                    0
fecha_solicitud                       0
hora_solicitud                        0
fecha_deseada                         6
hora_deseada                          0
nombre_recibe                         0
telefono_recibe                       0
descripcion_pago                    260
ida_y_regreso                         0
activo                                0
novedades                           336
cliente_id                            0
destino_id                            0
mensajero_id                        727
origen_id                             0
tipo_pago_id                          0
tipo_servicio_id                      0
tipo_vehiculo_id                      0
usuario_id                            0
prioridad                             0
ciudad_destino_id                     0
ciudad_origen_id                      0
hora_visto_por_mensajero          28428
visto_por_mensajero                 336
descripcion_multiples_origenes      760
mensajero2_id                     26197
mensajero3_id                     28145
multiples_origenes                    0
asignar_mensajero                     0
es_prueba                             0
descripcion_cancelado               346
dtype: int64

## Transformation

In [797]:
print(hora.columns)
tiempo_unique = hora[["hora", "key_hora"]].drop_duplicates(subset=["hora"])


# Convertir 'hora_solicitud' a string en el formato HH:MM:SS
# Convertir 'hora_solicitud' a datetime
servicio["hora_solicitud"] = pd.to_datetime(servicio["hora_solicitud"], format='%H:%M:%S')

tiempo_unique["hora"] = pd.to_datetime(tiempo_unique["hora"], format='%H:%M:%S').dt.hour

# Extraer la hora como un entero (1-24)
servicio["hora_solicita"] = servicio["hora_solicitud"].dt.hour

# Convertir 'fecha_solicitud' a datetime si aún no lo está
servicio["fecha_solicitud"] = pd.to_datetime(servicio["fecha_solicitud"])

# Crear la columna 'month_year' en formato 'YYYY-MM' para representar el año y el mes
servicio["año_mes"] = servicio["fecha_solicitud"].dt.to_period("M").astype(str)

servicio = servicio[["id","año_mes", "hora_solicita", "cliente_id", "mensajero_id"]]
servicio.fillna(-1, inplace=True)

# Convertir ambas columnas a tipo int para asegurar la coincidencia
print(hora["hora"].dtype)
# Convertir 'hora' en tiempo_unique al tipo datetime y extraer la hora como un entero


# Hacer el merge asegurando que coincidan
hecho_servicio_hora = pd.merge(servicio, tiempo_unique[["hora", "key_hora"]], left_on="hora_solicita", right_on="hora", how="left")
hecho_servicio_hora.head(5)

Index(['key_hora', 'hora', 'saved'], dtype='object')
object

   id  año_mes  hora_solicita  cliente_id  mensajero_id  hora  key_hora
0  34  2023-10              9           5          -1.0     9         9
1  35  2023-10             11           5           7.0    11        11
2  36  2023-10             19           5          -1.0    19        19
3  41  2023-11              9           5          -1.0     9         9
4  42  2023-11              9           5          -1.0     9         9

In [798]:
hecho_servicio_hora = pd.merge(hecho_servicio_hora, cliente[["cliente_id", "key_cliente"]], left_on="cliente_id", right_on="cliente_id", how="left")
hecho_servicio_hora.head(5)

   id  año_mes  hora_solicita  cliente_id  mensajero_id  hora  key_hora  key_cliente
0  34  2023-10              9           5          -1.0     9         9            7
1  35  2023-10             11           5           7.0    11        11            7
2  36  2023-10             19           5          -1.0    19        19            7
3  41  2023-11              9           5          -1.0     9         9            7
4  42  2023-11              9           5          -1.0     9         9            7

In [799]:
mensajero.rename(columns={'id':'mensajero_id'}, inplace=True)
hecho_servicio_hora = hecho_servicio_hora.merge(mensajero[["mensajero_id", "key_mensajero"]], left_on="mensajero_id", right_on="mensajero_id", how="left")
hecho_servicio_hora.fillna(-1, inplace=True)
hecho_servicio_hora.head(5)

   id  año_mes  hora_solicita  cliente_id  mensajero_id  hora  key_hora  key_cliente  key_mensajero
0  34  2023-10              9           5          -1.0     9         9            7           -1.0
1  35  2023-10             11           5           7.0    11        11            7           13.0
2  36  2023-10             19           5          -1.0    19        19            7           -1.0
3  41  2023-11              9           5          -1.0     9         9            7           -1.0
4  42  2023-11              9           5          -1.0     9         9            7           -1.0

In [800]:
print(len(hecho_servicio_hora))

28430

## Solicitudes_por_hora

In [801]:
# Paso 1: Eliminar duplicados basados en la combinación de columnas deseada
hecho_servicio_hora = hecho_servicio_hora.drop_duplicates(subset=["hora", "cliente_id", "key_cliente", "mensajero_id"])


solicitudes_por_hora = hecho_servicio_hora.groupby(["hora_solicita"]).size().reset_index(name="solicitud_por_hora")

# Paso 3: Realizar el merge para agregar la columna de conteo al DataFrame original
hecho_servicio_hora = hecho_servicio_hora.merge(solicitudes_por_hora, on="hora_solicita", how="left")

# Paso 4: Mostrar los primeros resultados para verificar
print("Primeros 20 resultados después de agregar 'solicitud_por_hora':")
print(hecho_servicio_hora.head(20))

Primeros 20 resultados después de agregar 'solicitud_por_hora':
     id  año_mes  hora_solicita  cliente_id  mensajero_id  hora  key_hora  key_cliente  key_mensajero  solicitud_por_hora
0    34  2023-10              9           5          -1.0     9         9            7           -1.0                  98
1    35  2023-10             11           5           7.0    11        11            7           13.0                 110
2    36  2023-10             19           5          -1.0    19        19            7           -1.0                  79
3    43  2023-11             10           5          -1.0    10        10            7           -1.0                 105
4    46  2023-11             18           4          12.0    18        18            6           24.0                  99
5    45  2023-11             17           5          12.0    17        17            7           24.0                  97
6    47  2023-11             11           5          12.0    11        11            7           24.0                 110
7    44  2023-11             20           5          -1.0    20        20            7           -1.0                  59
8    40  2023-11             14           5          -1.0    14        14            7           -1.0                 110
9    37  2023-10             18           5          -1.0    18        18            7           -1.0                  99
10   31  2023-10             17           5           7.0    17        17            7           13.0                  97
11    8  2023-09             16           5           7.0    16        16            7           13.0                 112
12   22  2023-09             19           5           7.0    19        19            7           13.0                  79
13   49  2023-11             12           5          -1.0    12        12            7           -1.0                 100
14   52  2023-11              7           5          -1.0     7         7            7           -1.0                  92
15   50  2023-11             14           5           7.0    14        14            7           13.0                 110
16   53  2023-11              7           5           7.0     7         7            7           13.0                  92
17  540  2024-02             15           2           7.0    15        15            1           13.0                 110
18   59  2023-12             12           5           7.0    12        12            7           13.0                 100
19   81  2023-12             13           5           7.0    13        13            7           13.0                 100

In [802]:
print(len(hecho_servicio_hora))

1831

## solicitud_hora_por_mes

In [803]:


solicitudes_por_hora_mes = hecho_servicio_hora.groupby(["año_mes", "hora_solicita"]).size().reset_index(name="solicitud_por_hora_mes")
hecho_servicio_hora = hecho_servicio_hora.merge(solicitudes_por_hora_mes, on=["año_mes", "hora_solicita"], how="left")

# Revisar los primeros datos ordenados
print(hecho_servicio_hora.head(20))

     id  año_mes  hora_solicita  cliente_id  mensajero_id  hora  key_hora  key_cliente  key_mensajero  solicitud_por_hora  solicitud_por_hora_mes
0    34  2023-10              9           5          -1.0     9         9            7           -1.0                  98                       1
1    35  2023-10             11           5           7.0    11        11            7           13.0                 110                       1
2    36  2023-10             19           5          -1.0    19        19            7           -1.0                  79                       1
3    43  2023-11             10           5          -1.0    10        10            7           -1.0                 105                       1
4    46  2023-11             18           4          12.0    18        18            6           24.0                  99                       2
5    45  2023-11             17           5          12.0    17        17            7           24.0                  97                       1
6    47  2023-11             11           5          12.0    11        11            7           24.0                 110                       1
7    44  2023-11             20           5          -1.0    20        20            7           -1.0                  59                       1
8    40  2023-11             14           5          -1.0    14        14            7           -1.0                 110                       2
9    37  2023-10             18           5          -1.0    18        18            7           -1.0                  99                       1
10   31  2023-10             17           5           7.0    17        17            7           13.0                  97                       1
11    8  2023-09             16           5           7.0    16        16            7           13.0                 112                       3
12   22  2023-09             19           5           7.0    19        19            7           13.0                  79                       2
13   49  2023-11             12           5          -1.0    12        12            7           -1.0                 100                       1
14   52  2023-11              7           5          -1.0     7         7            7           -1.0                  92                       2
15   50  2023-11             14           5           7.0    14        14            7           13.0                 110                       2
16   53  2023-11              7           5           7.0     7         7            7           13.0                  92                       2
17  540  2024-02             15           2           7.0    15        15            1           13.0                 110                      38
18   59  2023-12             12           5           7.0    12        12            7           13.0                 100                       1
19   81  2023-12             13           5           7.0    13        13            7           13.0                 100                       2

## Solicitud_por_hora_cliente

In [804]:
print(hecho_servicio_hora.columns)

# Contar solicitudes por cada 'key_tiempo' y 'key_cliente' 
solicitud_por_hora_cliente = hecho_servicio_hora.groupby(["key_hora","key_cliente"]).size().reset_index(name="solicitud_por_hora_cliente")
# Hacer merge para agregar la columna 'solicitud_por_mes' al DataFrame original
hecho_servicio_hora = hecho_servicio_hora.merge(solicitud_por_hora_cliente, on=["key_cliente", "key_hora"], how="left")
hecho_servicio_hora.head(5)

Index(['id', 'año_mes', 'hora_solicita', 'cliente_id', 'mensajero_id', 'hora', 'key_hora', 'key_cliente', 'key_mensajero', 'solicitud_por_hora', 'solicitud_por_hora_mes'], dtype='object')

   id  año_mes  hora_solicita  cliente_id  mensajero_id  hora  key_hora  key_cliente  key_mensajero  solicitud_por_hora  solicitud_por_hora_mes  solicitud_por_hora_cliente
0  34  2023-10              9           5          -1.0     9         9            7           -1.0                  98                       1                          11
1  35  2023-10             11           5           7.0    11        11            7           13.0                 110                       1                          14
2  36  2023-10             19           5          -1.0    19        19            7           -1.0                  79                       1                           8
3  43  2023-11             10           5          -1.0    10        10            7           -1.0                 105                       1                          13
4  46  2023-11             18           4          12.0    18        18            6           24.0                  99                       2                           8

## Solicitud_por_mensajero

In [805]:
# Contar solicitudes por cada 'key_tiempo' y 'key_mensajero'
cantidad_solicitud_por_mensajero = hecho_servicio_hora.groupby(["key_mensajero"]).size().reset_index(name="cantidad_solicitud_por_mensajero")
# Hacer merge para agregar la columna 'solicitud_por_mes' al DataFrame original
hecho_servicio_mensual = hecho_servicio_hora.merge(cantidad_solicitud_por_mensajero, on=["key_mensajero"], how="left")
hecho_servicio_mensual.head(6)

   id  año_mes  hora_solicita  cliente_id  mensajero_id  hora  key_hora  key_cliente  key_mensajero  solicitud_por_hora  solicitud_por_hora_mes  solicitud_por_hora_cliente  cantidad_solicitud_por_mensajero
0  34  2023-10              9           5          -1.0     9         9            7           -1.0                  98                       1                          11                               107
1  35  2023-10             11           5           7.0    11        11            7           13.0                 110                       1                          14                                19
2  36  2023-10             19           5          -1.0    19        19            7           -1.0                  79                       1                           8                               107
3  43  2023-11             10           5          -1.0    10        10            7           -1.0                 105                       1                          13                               107
4  46  2023-11             18           4          12.0    18        18            6           24.0                  99                       2                           8                               110
5  45  2023-11             17           5          12.0    17        17            7           24.0                  97                       1                          10                               110

## Eliminar filas

In [806]:
hecho_servicio_hora.drop(columns=["id","cliente_id","mensajero_id","hora"], inplace=True)
hecho_servicio_hora

      año_mes  hora_solicita  key_hora  key_cliente  key_mensajero  solicitud_por_hora  solicitud_por_hora_mes  solicitud_por_hora_cliente
0     2023-10              9         9            7           -1.0                  98                       1                          11
1     2023-10             11        11            7           13.0                 110                       1                          14
2     2023-10             19        19            7           -1.0                  79                       1                           8
3     2023-11             10        10            7           -1.0                 105                       1                          13
4     2023-11             18        18            6           24.0                  99                       2                           8
...       ...            ...       ...          ...            ...                 ...                     ...                         ...
1826  2023-09             16        16            7           31.0                 112                       3                          12
1827  2023-09             16        16            7            0.0                 112                       3                          12
1828  2024-06              7         7           21           -1.0                  92                       8                           4
1829  2024-06             10        10           24           46.0                 105                       8                           9
1830  2023-12             19        19            7           39.0                  79                       1                           8

[1831 rows x 8 columns]

## Load

In [807]:
hecho_servicio_hora.to_sql("hecho_servicio_hora", etl_conn, if_exists="replace", index_label="key_solicitud_servicio")

831